 # Python Fundamentals

### iPython Notebook Magic

#### Short cut keys:

-  comment out a line of code = command + /
-  run block of code = shift + enter
-  autocomplete text = tab
-  help for function = shift + tab
-  view shortcut menu - esc then h

#### Web based viewer for ipython notebooks
http://nbviewer.ipython.org/

### Write your first python program

In [1]:
print "Hello Data Science"

Hello Data Science

### Numbers in python:

Numeric types: ***int, float,*** and ***bool***.

In [2]:
type(1)

int

In [3]:
type(2.5)

float

In [7]:
type(True)

bool

In [5]:
type('string')

str

### String Insertion
Basic string insertions

In [8]:
"My name is {}".format('Mike')

'My name is Mike'

In [9]:
name = "Waldo"
"Where in the world is {}".format(name)

'Where in the world is Waldo'

You can insert multiple values into strings but requires labels

In [11]:
place = "SF"
"{0} is in {1}".format(name, place)

'Waldo is in SF'

Try reversing order of the variables name and place.|

In [13]:
place = "SF"
"{1} is in {0}".format(place, name)

'Waldo is in SF'

Try using names in brackets

In [15]:
"{nm} is in {pl}".format(nm=name, pl=place)

'Waldo is in SF'

In [16]:
"I<3{pl}. I <3 {pl}!".format(pl=place)

'I<3SF. I <3 SF!'

### Basic math in python
Some operators are pretty obvious

In [17]:
5 + 5

10

In [18]:
3 * 7

21

But some operators are less intuitive

In [20]:
print 'Hello' + 'World'

HelloWorld

In [24]:
10 % 3 # modulo

1

In [26]:
2 ** 3 # exponent

8

In [23]:
1E3 + 1E-3 # exponent base 10

1000.001

Assign values to variables

In [35]:
x = 10
y = 5
z = 4

Use math with variables

In [28]:
x - y

5

Try dividing x by z

In [30]:
x / z

2

Try dividing x by 4.0

In [46]:
x / 4.0

2.5

### Functions

####Syntax requires 4 things:
-  prefix of 'def'
-  name for function
-  parentheses followed by a colon
-  indented code on the next line

Create a simple function

In [47]:
def simplest_function():
    print "I made a function"

Call function by name

In [48]:
simplest_function()

I made a function

You can create a function that requires an input

In [49]:
def square(x): # local variable that will ONLY be refernced within this function; a so-called 'local' variable
    print x ** 2

In [52]:
square(5)

25

Functions can also returns a result

In [57]:
def cube(x):
    return x**3 # if using print instead of return, the following command won't print a value for y because 
#IF PRINT IS USED, THE VALUE IS NOT STORABLE AS A VAR

In [58]:
y = cube(5)
print y

125

###Line Continuation

Python recognizes that code lines that end with a comma are incomplete

In [59]:
numbers = [1, 2, 3,
           4, 5, 6,
           7, 8, 9]

You can also use the backslash

In [64]:
long_string = 'This is a really, really, really ' \
                + 'long sentence.'
print long_string

### triple-quotes also allow for the writing of very long strings; python will recognize the entire contents as part of the same string

This is a really, really, really long sentence.

### Exercise: Build a Function
#### 1. Create a function that converts Celsius to Fahrenheit.  Results should be accurate to at least one decimal point.

In [92]:
def thermometer(temp_C):
    temp_F = temp_C * 1.80 + 32
    # could also use float(degrees_c) * 9 / 5 + 32
    return temp_F
thermometer(100.00)

212.0

#### 2. Update your function to return a sentence (string type) with the Celsius and Fahrenheit values inserted into the string.

In [91]:
def thermometerString(temp_C):
    # temp_F = temp_C * 1.80 + 32
    # can also reference the previous function! e.g. temp_F = thermometer(temp_C) rather than rewriting; see below
    # once a function is defined, it can be called multiple times!
    temp_F = thermometer(temp_C)
    temp_F = ("%.2f" % temp_F) 
    temp_C = ("%.2f" % temp_C) 
    message = "{0} degrees Celsius is {1} degrees Fahrenheit.".format(temp_C, temp_F)
    return temp_F, message
thermometer(100.000000)

'100.00 degrees Celsius is 212.00 degrees Fahrenheit.'

#### Bonus: Update function to display exactly two digits after the decimals